body {
	background-image: url(assets/img/header-back.png);
}
.certificatesBlock{
	font-family: "Cambria";
	background-image: url(assets/img/header-back-layer.png);
	.wrapper{
		.certificates {
			.servicesHeader{
				.sectionSubtitle {
					font-weight: normal;
				    font-style: italic;
				    font-size: 18px;
					span {
						font-size: 18px;
						color: $firstColor;
					}
				} // sectionSubtitle
				.sectionTitle {
				} // sectionTitle
			} // servicesHeader
			.certificatesContent {
				//background: rgba(0, 0, 0, .5);
				&__images {
					.image {
						padding: 5%;
						img {
						} // img
					} // image
				} // __images
			} // certificatesContent
		} // certificates
	} // wrapper

	@media screen and ( max-width: 650px ){
		.wrapper{
			.certificates {
				.servicesHeader{
					padding: 20px 0 30px;
					.sectionSubtitle {
						font-size: 12px;
						span {
							font-size: 12px;
						}
					} // sectionSubtitle
					.sectionTitle {
						font-size: 30px;
					} // sectionTitle
				} // servicesHeader
			} // certificates
		} // wrapper
	} // 650

	@media screen and ( max-width: 450px ){
		.wrapper{
			.certificates {
				.servicesHeader{
					.sectionSubtitle {
						text-align: center;
						font-size: 12px;
						span {
							font-size: 12px;
						}
					} // sectionSubtitle
					.sectionTitle {
						font-size: 28px;
					} // sectionTitle
				} // servicesHeader
			} // certificates
		} // wrapper
	} // 450

	@media screen and ( max-width: 400px ){
		.wrapper{
			.certificates {
				@include flex(center,center);
				flex-direction: column;
				.servicesHeader{
					padding: 20px 0 0;
					.sectionSubtitle {
					} // sectionSubtitle
					.sectionTitle {
						font-size: 26px;
					} // sectionTitle
				} // servicesHeader
			} // certificates
		} // wrapper
	} // 400
} // certificatesBlock